
@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
/*清楚浮在需要清除浮动的元素加个class*/
.clearfix:before, .clearfix:after{
    display: table;
    content: "";
}
.clearfix:after{
    clear: both;
}
.clearfix{
    zoom:1;/*for IE6 & IE7*/
}
#paper {
    width: 980px;
    height: 1386px;
    margin: 0 auto;
    font-family: "MicrosoftYaHei";
}

#header {
    height: 61px;
    width: 892px;
    border-bottom: 2px solid #938e8c;
    margin-left: 44px;
}

#header .left {
    width: 110px;
    height: 61px;
    background: pink;
    /*span标签一般就是用作inline的，div一般就是用作block的。这里最好用div装样式*/
    display: inline-block;
    margin-bottom: -5px;
    /*这里利用inline-block的高度撑开好像也可以。不过常常一行都是设置浮动和清除浮动，高度不设置，实现高度自适应。*/
    float: left;
}

#header a {
    text-decoration: none;
    padding-top: 41px;
    float: left;
    font-size: 12px;
    color: #ffffff;
    font-family: "黑体";
}

#header .right {
    font-size: 12px;
    color: #d45d5c;
    float: right;
    padding-top: 45px;
    font-family: "黑体";
}

#about .img{
    background-image: url(../img/left.png);
    width: 640px;
    height: 300px;
    margin: 30px 0 30px 44px;
    float: left;
}

.img-green {
    width: 190px;
    height: 300px;
    background: green;
    filter: alpha(opacity=30);
    opacity: 0.3;
    float: left;
    display: inline-block;
}

.img-red {
    width: 190px;
    height: 300px;
    background: red;
    filter: alpha(opacity=30);
    opacity: 0.3;
    float: right;
}

.about-text {
    width: 203px;
    height: 350px;
    float: right;
    margin-right: 45px;
    border-top: 2px solid #cc7f90;
    margin-top: 30px;
}

.about-text h2 {
    font-size: 24px;
    text-decoration: underline;
    line-height: 30px;
    font-variant: small-caps;
    font-weight: normal;
}

.about-text p {
    font-size: 12px;
    font-family: "楷体";
    color: #676767;
    line-height: 10px;
    margin: 5px 0 25px 0;
}

.big-num {
    color: #75b76b;
    font-size: 116px;
    font-style: oblique;
    line-height: 100px;
    margin-left: -20px;
}

.about-text div {
    position: relative;
    margin-top: 30px;
}

.middle-num {
    color: #cc8091;
    font-size: 55px;
}

.index-css {
    color: #cc8091;
    font-size: 21px;
    position: absolute;
    left: 80px;
    top: 23px;
}

.index-content {
    color: #ccc;
    font-size: 12px;
    position: absolute;
    left: 80px;
    bottom: 10px;
    overflow: hidden;
}

#wwh {
    margin: 30px 0 0 44px;
}

#wwh div {
    float: left;
    margin: 0 20px 50px 0;
}

#wwh h2 {
    font-size: 16px;
    text-decoration: underline;
    margin-bottom: 8px;
}

.what {
    width: 232px;
}

.what h2 {
    color: #418c59;
}

.when {
    width: 208px;
}

.when h2 {
    color: #d2994f;
}

.how {
    width: 136px;
}

.how h2 {
    color: #cc7680;
}

.what p {
    font-size: 12px;
    font-family: "宋体";
}

.when p {
    font-size: 12px;
    filter: alpha(opacity=70);
    opacity: 0.7;
}

.how p,
ul,
li {
    font-size: 12px;
    filter: alpha(opacity=70);
    opacity: 0.7;
    line-height: 1.5;
}

.how li {
    list-style: none;
}

.how ul li span {
    color: #cc7680;
    font-style: oblique;
}

#article {
    float: left;
    margin-left: 44px;
    display: inline-block;
    border-top: 2px solid #10446B;
    margin-top: 14px;
    padding-top: 25px;
}

.article-text {
    width: 415px;
    float: left;
}

.article-text h1 {
    font-size: 42px;
    color: #11456b;
    font-family: "黑体";
}

.article-text h1 span {
    color: #f5e327;
    font-size: 72px;
    font-style: oblique;
}

.article-text h2 {
    color: #11456b;
    font-size: 33px;
    font-family: "黑体";
}

.article-text p {
    font-size: 12px;
    color: #76777;
    font-family: "宋体";
}

.article-text p img {
    float: right;
    width: 167px;
    height: 288px;
    margin: 20px;
}

#article p span {
    float: left;
    font-size: 70px;
    color: #f5e327;
    font-family: "MicrosoftYaHei";
    margin: -10px 10px 0 0;
}

#article p.indent {
    text-indent: 2em;
}

#doc{
    float: right;
    width: 458px;
    margin-left: 20px;
    display: inline-block;
}
.doc-img {
    background-image: url("../img/right.png");
    height: 275px;
    width: 458px;
    position: relative;
    margin-bottom: 25px;
    position: relative;
}

.doc-img .title {
    position: absolute;
    bottom: 0;
    height: 61px;
    width: 458px;
    background: black;
    filter: alpha(opacity=60);
    opacity: 0.6;
}

.img-title {
    color: #ffffff;
    font-size: 26px;
    height: 61px;
    line-height: 61px;
    border-left: 3px solid #72b16a;
    padding-left: 15px;
    margin-left: 26px;
}

.img-side-title {
    color: #72b16a;
    font-style: oblique;
}

.doc-txt {
    width: 418px;
    height: 275px;
    background: #EDECD6;
    padding: 30px 20px;
    margin-bottom: 40px;
}

.doc-txt ul li {
    list-style: none;
    font-size: 16px;
    font-family: "宋体";
    line-height: 40px;
    color: #5a5b5b;
}

.doc-txt ul li span {
    font-size: 12px;
    font-style: oblique;
}

.doc-txt ul li em {
    border: 5px solid;
    border-bottom: 10px solid;
    border-color: #edecd6 #edecd6 black #edecd6;
    display: inline-block;
    margin-right: 6px;
}

.doc-red {
    background: #d45d5c;
    width: 260px;
    height: 160px;
    margin: 22px 10px 0 -20px;
    float: left;
}

.doc-red div {
    width: 180px;
    float: right;
    border-left: 3px solid white;
    color: #ffffff;
    padding-left: 10px;
    margin-top: 40px;
}

.doc-title {
    font-size: 110px;
    line-height: 160px;
    color: #ffffff;
    float: left;
}

.doc-side-title {
    font-size: 21px;
    font-family: "黑体";
    font-style: oblique;
}

.doc-paragragh {
    font-size: 12px;
    font-family: "黑体";
}

.doc-text {
    width: 165px;
    float: right;
    margin-top: 35px;
    font-family: "黑体";
}

.doc-text em {
    font-size: 14px;
}

.doc-text span {
    font-size: 72px;
    color: #d45d5c;
}

.cite-left {
    float: left;
    margin: -15px 10px -50px -40px;
}

.cite-right {
    margin-right: -35px;
    float: right;
}

#footer {
    height: 50px;
    border-top: 1px solid #938e8c;
    margin-top: 60px;
    width: 892px;
    margin-left: 44px;
    margin-top: 10px;
}

#footer span {
    float: right;
    color: #d45d5c;
    font-size: 12px;
    font-family: "黑体";
}
